<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVlastelinSrv" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://office.esys.me:9999/VlastelinSvc/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVlastelinSrv"
                contract="IVlastelinSrv" name="WSHttpBinding_IVlastelinSrv">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAFl9KPhaQaNqoIcHxZwLZzya86YcgAAAAAQAAALoBAAAwggG2MIIBZKADAgECAhB7Y+2GjsbLiEAeBGtJpS6MMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTIxMTIyMTM0MTA2WhcNMzkxMjMxMjM1OTU5WjAZMRcwFQYDVQQDEw5vZmZpY2UuZXN5cy5tZTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAvuKNtaZvTYjdCP+Xyjf4upJ5W/nFS0yvFUiNuJYKDNJwU4c0aibx2na6bmsJM3Dx7bbmPX7f/3PQUvJGh9vhNDFJnYa+ZzT386VOryDLpa8P8qXqeTXaA5tG1UbfPL6a0CV4VUMJ8AQT5Nm+l/CLePzrqdbTQf7k3QsRgelbXtsCAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQBkwCnuka+rR9Z51TYuAZcUTa0yd8hKba7g0grp6HobWSabXJSnCMKEvCPPiu4z/RELNWYxlwMVEIhSNRcWTmPr" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>