<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVlastelinSrv" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/VlastelinSvc/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IVlastelinSrv" contract="ServiceReference1.IVlastelinSrv"
                name="WSHttpBinding_IVlastelinSrv">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAzVpYpRh6XGw5Djs9fvLn//3obmwgAAAAAQAAALUBAAAwggGxMIIBX6ADAgECAhDSM2wZiU/gtkoxtAW+yx6OMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTIwNjEzMTgwNDA1WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAJtjiLBrr6KKu42nXOxb6Q0Ik+Cb9WeopFaZ8FNfdfywPsekkxtDO0QfuybuiOCV0JoeyqTv0O3Fb/b+1jWq0qPN2vkrVJYTJHIMsF1EZNktfVEC//DNlUvnDLEXWz85SUDsMh89faTqP+LZig+MVtU4IqSdHzp8QI4HqJvVOhpHAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAbKobCQZFjpWOinlbwHgfr+DA+i1CnnJs82jtUL2MEPKSVbLmPP+Hh46kgWmU24W5AaPY7DvAK/FlDlSmnYJulA==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>